.navbar-top{
	padding-bottom: 0;
	font-style: italic bold;
	font-size: 40px;
}
.navbar-top a p{
	font-size: 20px;
}
.navbar-top a{
	color: #000000;
	font-size: 20px;
	padding-bottom: 0;
	padding-top: 0;
}
.navbar-top .navbar-brand{
	font-size: 40px;
	margin-right: 50px;
	margin-top: 0;
}

.navbar-top .nav-item{
	margin-right: 20px;
}

/*--- Slider --*/

.carousel-item{
	height: 100vh;
	min-height: 150px;
	background: no-repeat scroll center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-item::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
}
.carousel-caption{
	float: left;
	position: absolute;
	top: 260px;
}
.navbar-top .collapse .social .fab{
	font-size: 25px !important;
	margin:0 0 !important;
}
/* errors start */
.errs .alert {
    margin: 25px 60px 0px 60px;
}
/* errors end */